 /* slides individuais */

  /* Slide 1 */

  #imagem-slide1{
    margin-left: 2%;
    height: 150px;
  }

  /* slide 2 */

 
  #div_slide2{
    height: 100%;
    background-color: #0BF;

    font-size: 17px;
    font-family: JetBrains Mono;
    color: #FFF;
  }

  #imagem-slide2{
    margin-right: 2%;
    height: 150px;
  }


  .carousel__slide2 {
    color: #FFF;
    position: relative;
    margin-left: 0.3%;
    margin-right: 0.3%;
    flex: 0 0 100%;
    width: 100%;
    background-color: #0BF;
    font-size: 17px;
    font-family: JetBrains Mono;

  }


  /* Slide 3 */
  
  .carousel__slide3 {
    color: #FFF;
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    margin-left: 0.3%;
    background-color: #fff;
    border-radius: 0 100px 100 0 ;

    font-size: 17px;
    font-family: JetBrains Mono;

  }

  #div_slide3{
    padding-top: 2%;
    background-color: #0BF;
  }

  .terceiro-slide{
    height: 100%;
    background-color: #FFF;
    color: #101010;

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;       
  }

  .container2{
    display: flex;
    justify-content: space-around;
    

  }
  .bullets{
    height: 100%; 
    width: 100%; 
    display: flex; 
    justify-content: space-around; 
    flex-direction: column;
  }

  .bullet{

    width: 90%;
    height: 70px;
    background-color: #0BF;
    border-radius: 0 30px 30px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .imagens {
    height: 100%;
    width: 100%;
    display: flex;    
    justify-content: space-between;
    flex-direction: column;
    padding-right: 1%;
    padding-top: 10%;
   }
  
   .imagens img{
    height: 250px;
    width: 350px;
   
  }

  .divLinhas2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
    padding-top: 3%;
  }
    
  #linha3{
    background-color: #0BF;;
    width: 400px;
    height: 5px;
    align-items: center;
  
  }
  
  
  #linha4{
    background-color: #0BF;;
    width: 300px;
    height: 5px;
    display: flex;
    align-self: center;
  }

   .cubos img{
    height: 100px;
    width: 100px;
  }

  #cub1{
    height: 100px;
  }

  #cub2{
    height: 130px;
  }

  #cub3{
    height: 115px;
  }

  /*Slide 4  */
  
  .slide4_topicos {

    font-size: 22px;
    font-family: JetBrains Mono;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .slide4_topicos li {
    list-style-type: disc;
  }

  .slide4_topicos ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 50px;
    padding-top: 10%;
    padding-left: 30px;
    }
  

  .conteudo_slide4{
    height: 500px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #094258;

    list-style-type: disc;

  }

  .slide4_imagem img{
      height: 357px;
      width: 800px;
      margin-top: 18%;
  }

    /*Slide 5 */


    .fundo_branco{
      background-color: #FFF;
      height: 445px;
      width: 1100px;

      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }

    .contedudo_esquerda_slide5{

      margin-top: 5%;
      height: 370px;

      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
    }

   .imagem_slide5 img{
    margin-left: 30%;
    width: 250px;
   }

   .contedudo_esquerda_slide5 #linha4{
    
    margin-left: 30%;
   }
   .contedudo_esquerda_slide5 #linha3{
    margin-left: 15%;
   }

   .contedudo_direita_slide5{

    height: 445px;
    width: 550px;
    border-radius: 80px 0 0 0;
    background-color: #0BF;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

 
 /* Slide 6 */

 .carousel__slide4{
  color: #101010;
  font-size: 17px;
  font-family: JetBrains Mono;
  background-color: #0BF;
  border-radius: 0 80px 80px 0;
  
 }
 
 .fundo_branco2{
  background-color: #FFF;
  height: 445px;
  width: 1000px;

  display: flex;
  justify-content: space-between;
  flex-direction: row;

  border-radius: 0 80px 80px 0;
}

  .conteudo_esquerdo6{
    width: 1000px;

    display: flex;
    justify-content: space-between;
  }

  .texto_esquerdo6{
    background-color: #0BF;
    height: 100%;
    width: 650px;
    border-radius: 0 120px 120px 0;
    display: flex; 
    align-items: center;
  }

  .linha5{
    height: 305px;
    width: 25px;
    background-color: #FFF;
    margin-left: 3%;
    margin-right: 3%;
  }

  .fazer_parte{
    width: 350px;
    height: 305px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  button{

    cursor: pointer;
    background-color: #FFF;
    box-shadow: 10px 1px 1px 1px #0BF;

    border-radius: 100px; 
    height: 100px; 
    width: 200px;
  }

  

    /* css do carrossel */
      
      .linhas{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 500px;
      }
    
  
  /* configuração slides impares */

  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #0BF;
    border-radius: 100px 0 0 100px ;

  }
  
  /* configurações slides pares */
  .carousel__slide:nth-child(even) {
    color: red;
    margin-left: 0.3%;
    margin-right: 0.3%;
    border-radius: 0px 0 0 0px ;
    background-color: #fff;
    border-radius: 100px 0 0 0 ;

  }
