/* css da pagina  */

body{
    --verde: #4CC977;
    --preto: #101010;
    color: white;
    background-color: var(--preto);
    
}
.header{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 75px;
    border-width: 1px;
    border-bottom: 1px solid var(--verde);
    font-family: 'JetBrains Mono', monospace;
}
.navbar{
    display: flex;
    width: 85%;
    justify-content: space-between;
}
.nav-itens{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.nav-item{
    color: var(--verde);
}
.logo-nav{
    font-size: 54px;
    color: var(--verde);
    display: flex;
    justify-content: center;
}

.topico{

    height: 300px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.topico h1{
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 60px;
    padding-bottom: 30px;
    gap: 20px;
}

.topico p{
   color: #0BF;
}


.linha1{
    background-color: #0BF;;
    width: 614px;
    height: 10px;
    align-items: center;

}

.linha2{
    background-color: #0BF;;
    width: 214px;
    height: 10px;
    align-items: center;

}

.container{
    display: flex;
    justify-content: right;
    width: 100%;

    
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-flow: row wrap;
    width: 90%;
    background-color: #0BF;
    border-radius: 100px 0 0 80px;
}

.text-up{

    height: 200px;
    width: 100%;
    color: black;
    background-color: #FFF;
    border-radius: 100px 0 0 100px;
}

.text-down{
    height: 280px;
    width: 100%;
}

.text-down span{
    display: flex;
    justify-content: space-between;
}

.text-down img{
    height: 140px;
    width: 300px;
}

.conteudo{
    display: flex;
    justify-content: center;
    text-align: center;

    padding-top: 5%;    
}

.conteudo span{
    gap: 1  0%;
    width: 80%;
}
  /* fim css da pagina */
  

  /* css do carrossel */


  /* css do scroll */
  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent;
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }

  /* fim do scroll */
 
  /* limete dos slides  */
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
    /* Configurações do carrossel */
  .carousel {
    position: relative;
    padding-top: 40%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    width: 80%;
    margin-left: 21%;
  }
  
  /* configuração slides impares */

  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #0BF;
    border-radius: 100px 0 0 100px ;

  }
  
  /* configurações slides pares */
  .carousel__slide:nth-child(even) {
    border-radius: 100px 0 0 100px ;
    background-color: #fff;

  }
   
  /* css botões do carrosel */
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
    display: flex;
    justify-content: center;
  }