@import url(global.css);

.containerContato {
    display: none;
}

.containerContatoLeft {
    display: flex;
    width: 40%;
    padding-left: 50px;   
    flex-direction: column;
}
.containerContatoLeftTitulo {
    display: flex;
    justify-content: left;
}
.containerContatoLeftTitulo > span{
    color: var(--branco-light-mode);
    font-size: 3rem;
    font-family: "poppins"; 
    margin-bottom: 10px;
}
.redesSociais{
    display: flex;
    flex-direction: column;
    font-family: "poppins";
    margin-top: 50px;
}
.linhaRede {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25%;
    color: var(--azul);
    font-size: 2rem;
    margin-bottom: 50px;
    justify-content: left;
}

.linhaRede > svg {
    width: 60px;
    padding-right: 30px;
}
.linhaRede > p {
    color: var(--branco-light-mode);
    font-size: 2rem;
    text-align: left;
}




.linhaVerticalContato {
    width: 5px;
    height: 500px;
    background-color: var(--branco-light-mode);
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 30px;
}

.containerContatoRight {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
}
.cardContato{
    display: flex;
    background-color: var(--azul);
    width: 800px;
    height: 380px;
    justify-content: center;
    font-family: "poppins";
    margin-top: 80px;
}

.cardContato > span {
    font-size: 1.8rem;
    margin-top: 20px;
}

.cardEmail{
    position: absolute;
    z-index: 100;
    display: flex;
    width: 650px;
    height: 400px;
    margin-top: 150px;
    background-color: var(--branco-light-mode);
}

.cardEmail {
    flex-direction: column;
    align-items: center;
    font-family: "poppins";
}
.cardEmail > span {
    font-size: 2rem;
    margin-top: 30px;
    color: var(--azul-dark-mode);
}
.inputContato {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid ;
    font-family: "poppins";
    font-size: 1rem;
    margin-top: 55px;
    width: 450px;
    outline: none;
}
.inputContato:hover{
    cursor: text;
}

.botaoEnviarContato {
    border: none;
    display: flex;
    width:140px;
    height: 50px;
    background-color: var(--azul);
    border-radius: 15px;
    color: var(--branco-light-mode);
    font-family: "poppins";
    margin-top: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
}
