@import url(global.css);


.containerIntegrantes {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.containerIntegrantesTitulo{
    display: flex;
    width: 100%;
    font-weight: 600 ;
    justify-content: center;
    font-family: "poppins";
}
.containerIntegrantesTitulo  > span{
    font-size: 300%;
    color: var(--branco-light-mode);
    margin-bottom: 1%;
}

.containerIntegrantesFotos{
    display: flex;
    flex-direction: column;
    margin: 5%;
}
.containerIntegrantesFotosLinha{
    justify-content: space-around;
    display: flex;
    margin-top: 1%;
}
.containerIntegrantesIntegrante {
    display: flex;
    flex-direction: column;
    width: 12%;
    align-items: center;
    gap: 10px;
    height: 15%;
    color: var(--branco-light-mode);
    font-family: "poppins";
    font-size: 120%;
    justify-content: center;
    text-align: center;
}

.fotoIntegrante{
    border-radius: 15px;
    width: 150px;
    background-repeat: no-repeat;
    height: 150px;   
    background-size: contain;
}
.contatos{
    border-radius: 15px;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    font-size: 16px;
    align-items: center;
    width: 165px;
    height: 165px;   
    background-color: rgba(0, 0, 0, 0.793);
}
.contato-item{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.contato-item > a{
    color: white;
}
.containerIntegrantesIntegrante:hover>.fotoIntegrante{
    display: none;
}
.containerIntegrantesIntegrante:hover>.contatos{
    display: flex;
    
}
.carlos{
    background-image: url(../img/img-carlos.jpg);
}

.breno{
    background-image: url(../img/img-breno.jpg);
}

.leandro{
    background-image: url(../img/foto-leandro.jpg);
}

.lucio{
    background-image: url(../img/img-lucio.jpg);
}

.mirella{
    background-image: url(../img/img-Mirella.jpg);
}

.roberto{
    background-image: url(../img/img-roberto.jpg);
}

