@import url(global.css);

.containerLogin {
    display: none;
}

.cardLogin{
   position: absolute;
   margin-left: 25%;
   display: flex;
   width: 50%;
   height: 80%;
   background-color: aqua;
   border-radius: 10px;
   flex-direction: column;
}

.botaoFechar{
    display: flex;
    width: 100%;
    justify-content: end;
    color: var(--azul-dark-mode);
}
.botaoFechar > svg {
    display: flex;
    width: 4%;
    margin-right: 2%;
    margin-top: 2%;
}
.nomeMonitro {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 150%;
    font-family: "baloo 2";
    color: var(--azul);
    font-size: 550%;
}
.nomeMonitro > img {
    width: 10%;
    margin-right: 3%;
}
.cardAzul{
    position: absolute;
    z-index: 100;
    display: flex;
    width: 80%;
    height: 55%;
    margin-top: 20%;
    margin-left: 10%;
    background-color: var(--azul);
}
.cardBranco{
    position: absolute;
    z-index: 100;
    display: flex;
    width: 70%;
    height: 60%;
    margin-top: 25%;
    margin-left: 15%;
    background-color: var(--branco-light-mode);
    font-family: "poppins";
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cardBranco > span {
    font-size: 200%;
    margin-bottom: 3%;
}

.inputLogin {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid ;
    margin-top: 5%;
    width: 70%;
    font-size: 110%;
}
.botaoEnviarLogin{
    width: 20%;
    height: 12%;
    background-color: var(--azul);
    border-radius: 15px;
    font-family: "poppins";
    color: var(--branco-light-mode);
    font-size: 120%;
    margin-top: 5%;
}