
.topico{

    height: 300px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.topico h1{
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 60px;
    padding-bottom: 30px;
    gap: 20px;
}

.topico p{
   color: #0BF;
}


.linha1{
    background-color: #0BF;;
    width: 614px;
    height: 10px;
    align-items: center;

}

.linha2{
    background-color: #0BF;;
    width: 214px;
    height: 10px;
    align-items: center;

}

.container{
    display: flex;
    justify-content: right;
    width: 100%;
    
}


.text-up1{

    height: 200px;
    width: 100%;
    color: black;
    background-color: #FFF;
    border-radius: 100px 0 0 100px;
    font-size: 17px;
    font-family: JetBrains Mono;
}

.text-down1{
    font-size: 17px;
    font-family: JetBrains Mono;
    height: 280px;
    width: 100%;
}

.text-down span{
    
    display: flex;
    justify-content: space-between;
}

.conteudo{
    display: flex;
    justify-content: center;
    text-align: center;
    
    padding-top: 5%;    
}

.conteudo span{
    gap: 10%;
    width: 70%;
    color: #101010;
}
  /* fim css da pagina */
  