@import url(global.css);


.containerSobreNos{
display: none;
}

.pqKyvo {
    font-size: 370%;
    margin-top: 5%;
    font-family: "Poppins";
    line-height: 1; 

}


.containerSobreNosLeft{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.containerSobreNosLeft > span {
    color: var(--branco-light-mode);
    font-size: 370%;
    margin-left: 10%;
    margin-top: 6%;
    font-family: "Poppins";
    line-height: 1; 
}
.containerSobreNosLeft > p{
    color: var(--branco-light-mode);
    font-size: 170%;
    margin-left: 10%;
    margin-top: 5%;
    font-family: "Poppins";
    font-weight: 500;
}
.textosSobreNos{
    color: var(--branco-light-mode);
    font-size: 130%;
    width: 90%;
    font-family: "Poppins";
    margin-left: 10%;
    margin-top: 5%;
    line-height: 1.2;  
    text-align: left;
}
.containerSobreNosRight{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.containerSobreNosRight > img{
    width: 70%;
    height: 100%;
    animation: animacaoCubo 5s ease-in-out infinite;

}

@media (max-width: 900px) {
    .containerSobreNos {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .containerSobreNosRight {
        display: none;
    }
    .containerSobreNosLeft {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .containerSobreNosLeft > span {
        margin-left: 0%;
        margin-top: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .textosSobreNos{ 
        margin-left: 0;
    }
  }    


