/*
Fontes:
font-family: 'Baloo 2', cursive;
font-family: 'JetBrains Mono', monospace;
font-family: 'Laila', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=JetBrains+Mono:wght@100;200;300;400;500;600&family=Laila&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

/* Introdução */
html{
    scroll-behavior: smooth;
}
body{
    --verde: #4CC977;
    --preto: #101010;
    color: white;
    background-color: var(--preto);
}
.header{
    
    display: flex;
    justify-content: center;
    height: 75px;
    border-width: 1px;
    border-bottom: 1px solid var(--verde);
    font-family: 'JetBrains Mono', monospace;
    
}
.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}



  

.nav-itens{
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    cursor: pointer;
    
}
.logo-nav{
    font-size: 54px;
    color: var(--verde);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-itens :hover{
    color: #a9ecc0;
  }

.nav-item{
    color: var(--verde);
}

.grudado{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
}
.grudado + #conteudo {
    padding-top: 10px;
}

.banner {
    height: 100vh;
    display: flex;
    align-items: center;
}

.container-descubra-o-mundo{
    height: 75%;
    width: 100%;
    background-image: url(../img/fundo-inicio.svg);
    background-size: cover;
    display: flex;   
   
}
.itens > span{
    margin-left: 5%;
}

.itens {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 50px;
    width: 60%;
}
.descubra-o-mundo {
    margin-top: 5%;
    font-size: 40px;
    font-family: 'JetBrains Mono', monospace;
}

.bem-vindos {
    font-family: 'Laila', sans-serif;
    font-size: 25px;
    font-weight: 800;
    color: var(--verde);
}

.descricao {
    font-family: 'JetBrains Mono', monospace;
    font-size: 32px;
}

.img-cubo {
    width: 300px;
    align-self: center;
    height: 300px;
    background-image: url(../img/cubo-secundario.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

/* Por que kyvo */

.container-por-que-kyvo{ 
    display: flex;
    width: 100%;
    height: 60%;
    margin-left: 5%;
    margin-right: 5%; 
    justify-content: space-between;
}
.conteudo-por-que{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    gap: 10px;
}
.titulo-por-que{
    font-family: 'JetBrains Mono', monospace;
    font-size: 50px;
}
.titulo-por-que > span{
    color: var(--verde);
}
.conteudo-img-por-que{
    width: 70%;
    align-self: center;
    display: flex;
    justify-content: center;
}
.img-por-que{
    width: 80%;
  
}



/* Nossa solução */

.container-nossa-solucao{
    width: 100%;
    display: flex;
    background-color: white;
    margin-top: 2%;
    border-radius: 70px 10% 10% 70px;
    flex-direction: row;
}
.titulo-nossa-solucao {
    display: flex;
    flex-direction: column;
    width: 100%;

    margin-left: 5%;
    margin-right: 5%; 
    font-family: 'JetBrains Mono', monospace;
    font-size: 50px;
}
.titulo-nossa-solucao > p > span{
    color: var(--verde);
}
.lado-esquerdo{
    justify-content: center;
    display: flex;
    width: 50%;
    font-family: 'Baloo 2';
}
.titulo-monitro {
    width: 70%;
    color: black;
}
.titulo-monitro > h1 > img {
 display: flex;

}
.titulo-monitro > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
    color: #00BBFF;
    font-weight: bold;
    font-size: 130%;
} 
.titulo-monitro > p {
    padding-top: 10%;
    font-family: 'JetBrains Mono', monospace;
    color: black;
    font-weight: bolder;
    font-size: 50%;
} 
.lado-direito{
    width: 50%;
    height: 10%;
    border-radius: 70% 10% 10% 0%;
    background-color: #00BBFF;
    background-position: 100px;
}
.botao-saiba-mais {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 25%;
    height: 6vh;
    margin-top: 75%;
    margin-left: 70%;
    cursor: pointer;
    border-radius: 15px;
    font-family: 'JetBrains Mono', monospace;
    border: none;
}

/* Conheça a equipe */

.titulo-e-nossa-equipe{
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: 'JetBrains Mono', monospace;
    margin-top: 20px;
}
.titulo-e-nossa-equipe > h1{
    font-size: 50px;
    justify-content: center;
    display: flex;
}


.fotos-integrantes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3%;
    justify-content: space-evenly;
}
.primeira-sequencia {
    padding-top: 2%;
    width: 100%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.integrante-kyvo > img{
    width: 200px;
    height: 200px;
    border-radius: 15%;
}
.integrante-kyvo > h1 {
    padding-top: 5%;
    font-size: 110%;
}

.integrante-kyvo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    flex-direction: column;
}

/* Contate-nos */

.container-contate-nos{
    display: flex;
    height: 800px;
    justify-content: center;
    align-items: center;
}


.box-contate-nos{
    display: flex;
    height: 500px;
    width: 100%;
    align-items: center;
}

.linha-verde{
    height: 60%;
    width: 50%;
    background-color: #4CC977;
}

.linha-verde.pequena{
    width: 10%;
   
}

.form-contate-nos{
    display: flex;
    width: 40%;
    height: 500px; 
    background-color: #ffffff;
    color: #000000;
    font-family: 'JetBrains Mono', monospace;   
    flex-direction: column;
    gap: 20px;
}

.form-contate-nos-titulo{
    height: 90px;
}

.form-contate-nos-titulo h2{
    font-size: 40px;
    margin-top: 50px;
}



.mensagem-formulario-contate-nos{
    display: flex;
    height: 340px;
    width: 30%;
    background-color: #4CC977;
    gap: 40px;
}

.mensagem{
    display: flex;
    width: 40%;
    height: 100%;
    flex-direction: column;
    font-family: 'JetBrains Mono', monospace;   
    color: #000000;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.mensagem p{
    width: 75%;
    font-size: 28px;

}

.formulario-contate-nos{
    display: flex;
    width: 44%;
    height: 500px; 
    background-color: #ffffff;
    color: #000000;
    font-family: 'JetBrains Mono', monospace;   
    flex-direction: column;
    gap: 20px;

}

.formulario-contate-nos h2{
    font-size: 40px;
    margin-top: 40px;
    margin-left: 30px;
}

.form-contate-nos-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-formulario{
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
    justify-content: center;
    gap: 50px;
}

.inputs1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
}
.inputs2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
}

.inputs1 input{
    width: 85%;
    height: 40px;
    border-right: none;
    border-left: none;
    border-top: none;
}
.inputs2 input{
    width: 85%;
    height: 40px;
    border-right: none;
    border-left: none;
    border-top: none;
}
.botao{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contate-nos {
    margin-top: 20px;
}

.botao button{
    width: 115px;
    height: 45px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #4CC977;
    border: none;
    font-family: 'JetBrains Mono', monospace;
    margin-top: 20px;
    font-size: 15px;
}

.inputs1 ::-webkit-input-placeholder {
    font-family: 'JetBrains Mono', monospace;
    font-size: 16px;
    color: #0000004c;
    
}

.inputs2 ::-webkit-input-placeholder {
    font-family: 'JetBrains Mono', monospace;
    font-size: 16px;
    color: #0000004c;
}

.botao button:hover{
    transform: scale(1.1);
    transition: all 0.5s;
    background-color: #88c29c;
    color: #000000;
  }

  input:focus{
    outline: none;
}

.linha-verde2{
    height: 60%;
    width: 17%;
    background-color: #4CC977;
}

/* Login */


.container-descubra-o-mundo2{
    height: 50%;
    width: 100%;
    background-image: url(../img/fundo-inicio.svg);
    background-size: cover;
    display: flex;
    justify-content: center;
    margin-top: -110px;
}

.formulario-login{
    display: flex;
    width: 40%;
    border: 2px solid white;
    height: 410px;
    margin-top: -45px;
    flex-direction: column;
    background-color: #ffffff;
    gap: 30px;
}
.formulario-login span{
    font-size: 35px;
    align-self: center;
    color: #000000;
    margin-top: 60px;
    font-family: 'JetBrains Mono', monospace;

}

.input-login{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center ;
    gap: 20px;
    margin-top: 25px;
}

.input-login input{
    width: 85%;
    height: 40px;
    border-right: none;
    border-left: none;
    border-top: none;
}

.input-login ::-webkit-input-placeholder {
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    color: #333030;
}

.botao-login {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.botao-login button{
    width: 18%;
    height: 40px;
    border: none;
    background-color: #4CC977;
    border-radius: 8%;
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
    cursor: pointer;
}

.botao-login button:hover{
    transform: scale(1.1);
    transition: all 0.5s;
    background-color: #88c29c;
    color: #ffffff;
}

#fazer-cadastro{
    text-decoration: none;
    color: #141414;
    font-family: 'JetBrains Mono', monospace;
    font-size: 12px;
    font-weight: bold;
}

#fazer-cadastro:hover{
    color: #4CC977;
}

.linha1{
    background-color: #4CC977;
    height: 5px;
    width: 100%;
    margin-top: 60px;
}
.linha2{
    background-color: #4CC977;
    height: 5px;
    width: 100%;
    margin-top: -100px;
}

#login-nav{
    text-decoration: none;
    color: #4CC977;

}

/*CSS da página de cadastro

.container-contate-nos
.formulario
.mensagem
.formulario-contate-nos
.conteudo-formulario
.inputs1
.inputs2
.botao

*/

.container-titulo-cadastro {
    height: 200px;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titulo-cadastro {
    width: 47%;
    display: flex;
    justify-content: start;
    align-items: center;   
}

.titulo-cadastro p {
    font-size: 40px;
    font-weight: 400;
    font-family: 'JetBrains Mono', monospace;
    padding-left: 5%;
    width: 100%;
}

.titulo-cadastro span {
    color: #4CC977;
}

.linha-verde-cadastro {
    width: 100%;
    height: 10px;
    background-color: #4CC977;
}

.linha-baixo-verde-cadastro {
    width: 100%;
    height: 10px;
    background-color: #4CC977;
    margin-top: 6%;
}

.container-cadastro{
    display: flex;
    height: 700px;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.formulario {
    display: flex;
    height: 340px;
    width: 100%;
    background-color: #4CC977;
    gap: 40px;
}

.imagem-cadastro{
    display: flex;
    width: 40%;
    height: 100%;
    flex-direction: column;
    font-family: 'JetBrains Mono', monospace;   
    color: #000000;
    gap: 60px;
    justify-content: center;
    align-items: center;
    
}

.imagem-cadastro img {
    height: 100%;
    width: 70%;
}

.formulario-cadastro{
    display: flex;
    width: 44%;
    height: 127%; 
    margin-top: -50px;
    background-color: #ffffff;
    color: #000000;
    font-family: 'JetBrains Mono', monospace;   
    flex-direction: column;
    gap: 20px;
}

.formulario-cadastro h2{
    font-size: 40px;
    margin-top: 40px;
    margin-left: 30px;
}

.formulario-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo-cadastro{
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
    justify-content: center;
    gap: 50px;
}







