@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Poppins:wght@300&display=swap');

@keyframes animacaoCubo{
   0% {
      transform: translateY(-30px);
   }
   50% {
      transform: translateY(0px);
   }
   100% {
      transform: translateY(-30px);
   }
}

:root {

    --azul: #28c8ef;
    --azul-dark-mode: #0E1826;
    --branco-light-mode: #F2F2F2;
 } 
 body {
   background-color: var(--azul-dark-mode);
 }


.light{
   color-scheme: light;
}

html[data-theme = 'light'] {
   --azul-dark-mode: #0E1826;
   --branco-light-mode: #F2F2F2;
}
html[data-theme = 'dark'] {
   --azul-dark-mode: #0E1826;
   --azul: #28c8ef;
}

 button {
    cursor: pointer;
    border: none;
    outline: none;
 }
 input {
   outline: none;
   color: var(--azul-dark-mode);
 }
 .exibir{
   display: flex !important;
   justify-content: center;
   align-items: center;
   }


 #fundo_modal{
   display: none;
   background-color: rgba(0, 0, 0, 0.829);
   position: absolute;
   height: 100vh;
   width: 100vw;
   z-index: 1;
 }

 .navegacao {
   margin-top: 500px;
   z-index: 1;
}
.navegacaoManual {
   display: flex;
}

.navegacao input{
   display: none;
}
.botaoManual {
   display: flex;
   border: 2px solid var(--branco-light-mode);
   border-radius: 10px;
   padding: 6px;
   cursor: pointer;
   transition: 1s;
   width: 3px;
   height: 3px;
   color: var(--branco-light-mode);
 
}

.botaoManual:not(:last-child){
   margin-right: 30px;
}
.botaoManual:hover{
   background-color: var(--branco-light-mode);
}


