@import url(globalMonitro.css);

.modalDashEspecifica {
    display: none ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .ModalEspecifica{
    position: absolute;
    border-radius: 15px;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F2F2F2;
    padding: 20px;
    font-family: "poppins";
  }
  .containerDetalhesEspecifica {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
  .tituloModal {
    width: 100%;
    display: flex;
  }
  .nomeMonitro {
    width: 80%;
    display: flex;
    align-items: center;
    font-family: "baloo 2";
    font-size: 2rem ;
    color: var(--azul);
  }
  .nomeMonitro > img {
    width: 50px; 
    margin-right: 10px;
  }
  .botaoFechar {
    display: flex;
    justify-content: end;
    width: 280px;
  }
  .botaoFechar > svg {
    width: 25px;
    cursor: pointer;
  }
  .detalhesMonitoramentoLeft {
    width: 60%;
    flex-direction: column;
  }
  .descricaoMaquinaModal{
    height: 15vh;
    background-color: #4f5f7381;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .descricaoCPU{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .niveisAlertaCPU{
    font-weight: bold;
    line-height: 2;
  }
  .graficoCPU{
    display: flex;
    background-color:#4f5f7381;
    width: 500px;
    height: 200px;
    border-radius: 15px;
  }
  .descricaoRAM {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
  }
  .niveisAlertaRAM {
    font-weight: bold;
    line-height: 2;
  }
  .graficoRAM {
    display: flex;
    background-color:#4f5f7381;
    width: 500px;
    height: 200px;
    border-radius: 15px;
  }
  .detalhesMonitoramentoRight{
    width: 30%;
    height: 500px;
    border-radius: 15px;
    margin-top: 40px;
    background-color: #4f5f7381;
  }