@import url(globalMonitro.css);
.modalDashDetalhes {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .ModalDetalhes{
    position: absolute;
    border-radius: 15px;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--branco-light-mode);
    padding: 20px;
    font-family: "poppins";
  }
  .containerDetalhes {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .tituloModal {
    width: 100%;
    display: flex;
  }
  .nomeMonitro {
    width: 80%;
    display: flex;
    align-items: center;
    font-family: "baloo 2";
    font-size: 2rem ;
    color: var(--azul);
  }
  .nomeMonitro > img {
    width: 50px; 
    margin-right: 10px;
  }
  .botaoFechar {
    display: flex;
    justify-content: end;
    width: 280px;
  }
  .botaoFechar > svg {
    width: 25px;
    cursor: pointer;
  }
  .detalhesServidorEmpresa {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;

  }
  .descricoesServidor {
    width: 450px;
    height: 250px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: #4f5f7381;
  }
  .descricoesEmpresa {
    width: 650px;
    height: 250px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: #4f5f7381;
  }
  .outrosDetalhes {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
  .detalhes {
    width: 1220px;
    height: 265px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: #4f5f7381;
  }