/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Poppins:wght@300&display=swap');

/* Cores padrão */
:root {
  --azul: #28c8ef;
  --azul-dark-mode: #0E1826;
  --branco-light-mode: #F2F2F2;
}

/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
}

/* Estilos do corpo */
body {
  background-color: var(--azul-dark-mode);
  display: flex;
}

/* Estilos para links */
a {
  outline: none;
  color: var(--branco-light-mode);
  text-decoration: none;
}

/* Modo de cor clara */
.light {
  color-scheme: light;
}

/* Modo claro personalizado */
html[data-theme='light'] {
  --azul-dark-mode: #0E1826;
  --branco-light-mode: #F2F2F2;
}

/* Modo escuro personalizado */
html[data-theme='dark'] {
  --azul-dark-mode: #0E1826;
  --azul: #28c8ef;
}

/* Estilos para botões e inputs */
button {
  cursor: pointer;
  border: none;
  outline: none;
}

input {
  outline: none;
  color: var(--azul-dark-mode);
}

/* Estilos para a classe .exibir */
.exibir {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

/* Estilos para o fundo modal */
#fundo_modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.829);
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

/* Estilos para navegação */
.navegacao,
.navegacaoManual {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  z-index: 1;
}

/* Estilos para a navegação manual */
.navegacao input {
  display: none;
}

.botaoManual {
  display: flex;
  border: 2px solid #4f5f733a;
  border-radius: 10px;
  padding: 6px;
  cursor: pointer;
  transition: 1s;
  width: 1px;
  height: 1px;
  background-color: #4f5f733a;
}

.botaoManual:not(:last-child) {
  margin-right: 30px;
}

.botaoManual:hover {
  background-color: var(--azul-dark-mode);
}
