
@import url(globalMonitro.css);

.checkbox {
    opacity: 0;
  }
  .modoLightDark{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
  }
  
  .label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: relative;
    height: 15px;
    width: 40px;
    transform: scale(1.5);
  }
  
  
  .label .ball {
    background-color: #ffff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 20px;
    width: 20px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
    display: flex;
    align-items: center;
  }
  
  .checkbox:checked + .label .ball {
    transform: translateX(24px);
  }
  
  .lua > svg{
    color: #f1c40f;
    padding-right: 10px;
    
  }
  
  .sol {
    color: #f39c12;
  }
  .modoLightDark > svg {
    color: #f1c40f;
    margin-right: 10px;
    cursor: pointer;
  }
  