.sideBar{
    width: 20%;
    height: 707px;
    background-color: var(--azul);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sideBar > h1{
    font-family: "baloo 2";
    color: var(--azul-dark-mode);
    font-weight: bold;
    font-size: 3rem;
}
.imgUser > img{
    width: 200px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.linksSideBar{
    display: flex;
    width: 250px;
    height: 50px;
    border-radius: 15px;
    margin-top: 20px;
    background-color: var(--azul-dark-mode);
    color: var(--branco-light-mode);
    align-items: center;
    justify-content: center;
    font-family: "poppins";
    font-weight: bold;
    cursor: pointer;
}
#botaoSair{
    width: 150px;
}
.linksSideBar:hover{
    background-color: var(--branco-light-mode);
    color: var(--azul-dark-mode);
}
.containerDashboard{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.navBarDashboard{
    display: flex;
    height: 80px;
    width: 100%	;

}
.containerNavDashboard{
    display: flex;
    align-items: center;
    width: 80%;
    color: var(--branco-light-mode);
}
.containerNavDashboard > h2{
    font-family: "poppins";
    margin-left: 30px;
    
}